body {
    font-family: "Object Sans";
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #161616;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
}

.header {
    margin-top: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.header .links {
    color: #161616;
    font-size: 1.25rem;
    opacity: 0.6;
}

.header .links a:first-child {
    margin-right: 32px;
}

.header .logo-wrapper {
    justify-self: center;
}

.header .logo {
    width: 60px;
    height: 60px;
}

.header .cart {
    justify-self: right;
}

.header .cart svg {
    width: 18px;
    height: 21px;
    fill: #161616;
}

.hero .title {
    font-family: "Object Sans";
    font-weight: 800;
    font-style: normal;
    font-size: 5.4375rem;
    color: #161616;
    margin-bottom: 20px;
}

.hero .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    max-width: 100%;
}

.hero .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .grid .main {
    grid-row: 1 / 3;
}

.hero .grid a {
    position: relative;
}

.hero .grid h2 {
    font-family: "Object Sans";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
}

.hero .grid .main h2 {
    font-size: 87px;
}

.cart-float {
    width: 65px;
    height: 65px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.cart-float svg {
    fill: #fff;
}

.list {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 30px;
    margin-top: 60px;
}

.list .filter {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.list .filter h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
    color: #161616;
    margin-bottom: 5px;
    margin-top: 0;
}

.list .filter span {
    width: 100%;
    margin-top: 16px;
    font-weight: 400;
    font-size: 20px;
    color: #161616;
    opacity: 0.5;
    cursor: pointer;
}

.list .filter span.active {
    opacity: 1;
}

.list .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.list .grid img {
    width: 100%;
}

.list .card h4 {
    font-weight: 400;
    font-size: 27px;
    color: #161616;
    margin: 0;
    margin-top: 15px;
}

.list .card h5 {
    font-weight: 400;
    font-size: 18px;
    color: #161616;
    margin: 0;
    margin-top: 5px;
}

.cart h1 {
    font-weight: 800;
    font-size: 56px;
    color: #020202;
    margin-bottom: 20px;
}

.cart .grid .item {
    height: 136px;
    display: grid;
    grid-template-columns: 165px 1fr 1fr 30px;
    align-items: center;
    gap: 20px;
}

.cart .grid {
    margin-top: 30px;
    display: grid;
    gap: 14px;
}

.cart .grid .item .item-image {
    height: inherit;
    object-fit: cover;
}

.cart .item .title-with-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart .item .title-with-quantity .title {
    font-weight: 400;
    font-size: 24px;
    color: #0b0b0b;
    margin: 0;
    margin-bottom: 10px;
}

.cart .item button {
    border: none;
    background-color: unset;
    font-size: 1.25rem;
}

.cart .item .quantity button {
    padding: 10px 15px;
}

.cart .item .quantity {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.cart .item .quantity input {
    width: 48px;
    height: 53px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: "Object Sans";
    color: #161616;
    padding: 0;
    box-sizing: border-box;
}

.cart .item .delete img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
}

.cart .item .delete {
    margin-top: 10px;
}

.cart .item .total {
    font-weight: 800;
    font-size: 36px;
    color: #0b0b0b;
    justify-self: right;
    margin-right: 10px;
}

.animated-button {
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.animated-button:hover {
    transform: scale(1.5);
}

.animated-button:active {
    transform: scale(0.9);
}

.cart-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    margin: 50px 0;
    height: 70px;
}

.cart-form input {
    border: 1px solid #161616;
    padding: 0 30px;
}

.cart-form button {
    background-color: #161616;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.cart-total h2 {
    font-weight: 800;
    font-size: 50px;
    color: #161616;
}

.cart-total h2 span {
    font-weight: 400;
    margin-left: 15px;
}
